* {
	font-family: "Segoe UI", sans-serif;
}

.content,
#app {
	height: 100%;
}

#app .win-splitviewpanetoggle {
	float: left;
}

/* SplitView pane content style*/
#app .header {
	white-space: nowrap;
}

#app .title {
	font-size: 25px;
	left: 55px;
	margin-top: 6px;
	vertical-align: middle;
	display: inline-block;
}


#app .nav-commands {
	margin-top: 20px;
}

.win-splitviewcommand-button {
	background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
	/*  Make sure pane content doesn't scroll if
    SplitViewCommand label receives focus while pane is closed.
    */
	visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
	background-color: rgb(55, 55, 55);
}

#app .contenttext {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	max-width: 60vw;
}

#app .contenttext a {
	color: cyan;
}

.content-wrapper {
	max-height: calc(100vh);
	overflow: auto;
}

.win-splitviewcommand-icon {
	background-size: 16px;
}

@media(max-width: 768px) {
	#app .contenttext {
		max-width: 100vw;
	}

}